/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

header div{
  padding: 20px 50px 20px 50px;
  font-family: 'Libre Franklin', sans-serif;
 display: flex;
 flex-direction: row;
 justify-content: space-around; 
}
h4 {
  margin: 10px 80px 10px 80px;
  text-align: center;
  font-family: 'Libre Franklin';
font-size:11px;
font-weight:700;
color: white;
background-color: red;
border-radius: 50px;
}
h1 {
  font-family: 'Sorts Mill Goudy', serif;
}