/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

html {
  width: 320px;
  margin: auto;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

header a {
  color: black;
  text-decoration: underline;
  font-size: 16px;
}

nav {
  text-align: center;
  margin: 22px 0;
}

nav a {
  padding: 0 5px;
}

img {
  border-top: 1px solid #cbcdcc;
}

div {
  text-align: center;
  font-family: "Sorts Mill Goudy", serif;
  padding: 0 15px;
}

.highlight {
  font-family: "Libre Franklin", sans-serif;
  font-size: 11px;
  color: white;
  background: #e33d26;
  font-weight: 700;
  display: inline-block;
  padding: 0px 15px;
  margin: 15px 0;
  border-radius: 18px;
}

h1 {
  font-size: 24px;
  line-height: 1.2;
  font-family: "Sorts Mill Goudy", serif;
}

div p {
  font-size: 16px;
  margin: 15px 0;
}

.signature {
  font-family: "Libre Franklin", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 33px;
}

article {
  background: #ebede8;
  padding: 0 15px 15px;
}

article h2 {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 20px;
  line-height: 1.2;
  padding-top: 30px;
}

hr {
  border: solid 1px black;
  margin-bottom: 15px;
}

figcaption {
  background-color: white;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #cbcdcc;
}

footer {
  background-color: black;
  color: white;
  padding: 30px 15px;
}

footer h1 {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 20px;
  line-height: 1.2;
}

footer a {
  color: white;
  font-size: 16px;
  text-decoration: underline;
}
