/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

/* font-family: sorts-mill-goudy, serif; */
/* font-family: libre-franklin, sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

header,
.day-meal,
.star-recipes
.day-meal,
strong,
footer div {
  font-family: libre-franklin, sans-serif;
}

header {
  font-size: 16px;
}

.page-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 50px 0px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dailyrecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.2;;
}

.dailyrecipe div,
.dailyrecipe h1 {
  margin: 5px
}

.day-meal {
  font-size: 11px;
  font-weight: 700;
  background-color: #E62A1B;
  color: white;
  border-radius: 50px;
  padding: 2px 10px;
}

.star-recipes {
  background-color: #EBEDE8;
  padding: 30px 15px;
  margin-top: 10px;
}

.star-recipes h1,
footer h2 ,
.dailyrecipe h1 
.description {
  font-family: sorts-mill-goudy, serif;
}

.food-cooking {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.star-recipes h2 {
  border-bottom: solid;

}

figcaption {
  background-color: #FFFFFF;
  font-size: 20px;
  line-height: 1.2;
  padding: 10px 5px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  font-size: 16px;
}

footer h2 {
  font-size: 20px;
  line-height: 1.2;
}


a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */
