/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

html {
  font-size: 16px;
  max-width: 320px;
  margin: auto;
  font-family: 'Libre Franklin';
  background-color: rgb(181, 196, 181);
}

nav {
  background-color: #fff;
  padding: 20px 65px;
  justify-content: space-between;
}

nav a {
  padding: 0 5px;
}

img {
  margin: 0;
}

.presentation {
  background-color: #fff;
  padding: 20px 0;
}

.recipe-day {
  background-color: rgb(242, 61, 61);
  color: #fff; 
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  border-radius: 50px;
  padding: 0;
  margin: 0 90px 15px;
}

h1 {
  font-family: 'Sorts Mill Goudy';
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin: 10px 20px 20px;
}

.introduction {
  font-family: 'Sorts Mill Goudy';
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin: 0 0 15px;
}

.jerelleguy {
  font-size: 16px;
  font-weight: 700;
  margin: 0 105px 20px;
}

.recipes-today {
  background-color: rgb(181, 196, 181);
}

h2 {
  font-family: 'Sorts Mill Goudy';
  text-decoration: underline;
  padding: 35px 15px 0 15px;
  background-color: rgb(181, 196, 181);
}

figcaption {
  background-color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  margin: 0 15px;
  padding: 20px 25px;
}

figure img {
  margin: 0 15px;
  width: 90%;
  margin-top: 15px;
}

