/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

a {
  color: inherit;
  font-family: sans-serif;
  font-size: 16px;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

header{
  margin: 22px 0 33px;
}

header img{
  margin-bottom: 17px;
}

main{
  background-color: #ebede8;
  padding: 30px 15px;
}

main h1{
  margin: 0;
  font-size: 17px;
  text-align: left;
}

nav{
  margin: 0 0 20px;
  font-family: 'Libre Franklin', sans-serif;
}

article{
  margin-top: 15px;
  background-color: #ffffff;
  padding: 0 0 25px;
  border: #cec6c0 1px solid;
}

article h1{
  margin: 23px 0 0;
  text-align: center;
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: normal;
  line-height: 1.2;
}

article img{
  margin: 0;
}


h1{
  margin: 15px 0 18px;
  font-size: 24px;
  font-family: 'Sorts Mill Goudy', serif;
}

h2{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

h3{
  font-size: 9px;
  text-transform: uppercase;
  padding: 4px 8px;
  background-color: #e33d26;
  border-radius: 18px;
  text-align: center;
  max-width: 140px;
  margin: auto;
  color: #ffffff;
  font-family: 'Libre Franklin', sans-serif;
}

p{
  font-size: 17px;
  margin-bottom: 22px;
  font-family: 'Sorts Mill Goudy', serif;
}

hr{
  border: 1px solid black;
}